<!-- Views/Usuario/Index.cshtml -->
@model IEnumerable<EasyPark.Models.Entidades.Usuario.Usuarios>

<h2>Lista de Usuários</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Nome da Instituição</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.Cpf</td>
                <td>@usuario.NomeInstituicao</td>
                <td>@Html.ActionLink("Ver detalhes", "Details", new { id = usuario.Id })</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Cadastrar Novo Usuário", "Create")
</div>
